body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header,
#preview,
#overlay {
    width: 100%;
}

#header {
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#preview,
#overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay>.notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header>* {
    height: 2em;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

#header .logo {
    height: 120px;
    width: auto;
}

.icon{

    background-image: url("../images/360.svg")
}

.icon1 {
    background-image: url("../images/hand-grab.svg")
}

.icon2 {
    background-image: url("../images/zoom-pan.svg")
}

.icon3 {
    background-image: url("../images/walk.svg")
}

.icon4 {
    background-image: url("../images/video.svg")
}

.icon5 {
    background-image: url("../images/ruler-measure.svg")
}

.icon6 {
    background-image: url("../images/section.svg")
}

.icon7 {
    background-image: url("../images/brand-airtable.svg")
}

.icon8 {
    background-image: url("../images/binary-tree-2.svg")
}

.icon9 {
    background-image: url("../images/eye-table.svg")
}

.icon10 {
    background-image: url("../images/adjustments-horizontal.svg")
}

.icon11 {
    background-image: url("../images/window-maximize.svg")
}